*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

@font-face {
  font-family: 'MainFont';
  src: url(../hong_kong_hustle/hongkonghustle.ttf);
  font-style: normal;
  font-weight: normal;
}


/* link styling */

a:link {
  color: #0824e0;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}

a:visited{
  color: #0824e0;
  text-decoration: none;
}

a:hover{
  color: #d0db97;
  text-decoration: none;
}

a:active{
  color: #e2bbc2;
  text-decoration: underline;
}

/* logo at top of page */
header {
    background-color:#e6c6c2 ;
    padding: 20px;
    position: relative;
}

#logobar {
  overflow: hidden;
  background-color: #e6c6c2;
  
}

/* homepage body */
body {
    background-color: #e2bbc2;
  }

  ul {
    list-style-type: none;
    float: right;
    margin: 0;
  padding: 0;
  width: 100px;
  }

/* styling of nav bar section */
  nav{
    position: absolute;
    top: 0;
    right: 0;
    width: 47%;
    height: 90vh;
    display: block;
    margin-top: 10px;
    padding: 40px;
  /* text */
  text-decoration: none;
  background-color: #fefefa;
  font-family: Helvetica;
  font-size: x-large;
  word-spacing: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  align-items: left;
  /* border */
  border-bottom: solid #0824e0 2px;
  border-left: solid #0824e0 2px;
  border-right: none;
  border-top: solid #0824e0 2px;
  }

  .mainnav{
    padding-right: 20px;
    
  }

  /* .navbranding{
    opacity: 1;
    background-image: url(../BRANDINGhover.png)
  }

  .navbranding:hover{
    opacity: 0;
  } */
  
  /* nav bar 'branding' dropdown */

  /* overall style of dropdown page*/
  #dropdown{
    margin-top: 70px;
    padding: 0px;
    font-size: small;
    font-weight: normal;
    /* background-color: #d0db97;
    border: solid #0824e0 0.5px; */

  }

  .navBarTitle{
    font-family: 'mainFont';
    color: #0824e0;
    padding-bottom: 4px;
    font-size: 20px;
  }

  /* each horizontal feature of image and text */
  .previews{
    font-size: small;
    font-weight: normal;
    display: flex;
    margin-bottom: 25px;
    padding-right: 35px;
    
  }
 /* each image in dropdown */
  .previewimage{
    border: #0824e0 solid;
    background-color: #e6c6c2;
    border-width: 1px;
    opacity: 0.8;
    height: 150px;
    width: 150px;

  }

  .previewimage:hover{
    opacity: 1;
  }

  /* all text featured on right hand side of a preview */
  .previewtextright{
    margin-left: 55px;
    margin-right: 0px;
    padding-top: 30px;
    word-spacing: normal;
    text-align: left;
    font-weight: bold;
    color: #e6c6c2;
  }

  /* all text featured on left hand side of a preview */
  .previewtextleft{
    margin-left: 0px;
    margin-right: 55px;
    padding-top: 30px;
    word-spacing: normal;
    text-align: left;
    font-weight: bold;
    color: #e6c6c2;
  }

  /* view all button at top of dropdown menu */
  #viewall{
    margin-top: 40px;
    font-family: 'mainFont';
    font-size: large;
    color: #e6c6c2;
    word-spacing: normal;
    text-align: right;
  }



  .contentsection{
    width: 100%;
    
  }

  /* landing page section */
  #section1{
    background-color: #e6c6c2;
    height: 80vh;
  }

  /* bottom section of homepage */
  #section2{
    background-image: url(../pattern3.png);
    background-size: contain;
    image-rendering: auto;
    background-color: #fefefa;
    background-repeat: repeat;
    width: 100%;
    height: 85vh;
    display: block;
    grid-row: 3;
    padding: 0%;
  }

  /* Images of how to fold a paper airplane on homepage */
  #folding{
    float: left;
    padding-left: 5%;
    padding-top: 60px;
    padding-bottom: 50px;
    width: 10px;
  }

  /* Text that introduces me on homepage */
  #introlist{
    float: left;
    display: list-item;
  color:#0824e0;
  padding-left: 12%;
  padding-top: 60px;
  padding-bottom: 20px;
  text-decoration: none;
  font-size: x-large;
  font-family: 'Helvetica';
  font-weight: bolder;
  line-height: 490%;
  width: 90%;
  letter-spacing: 3px;
  width: 80%;
  text-align: left;
  }

  #home{
    float: right;
    padding-top: 120px;
    padding-right: 0px;
  }

  .pagetitle{
    align-items: flex-end;
  }
  
  #contactfooter{
    background-color: #d0db97;
    height: 40vh;
    text-align: center;
    font-size: 100px;
    color: #dba6af;
    font-family: 'mainFont';
    padding-top: 15vh;
    letter-spacing: 5px;
    word-spacing: 10px;
  }

  #getintouch:hover{
    color: #0824e0;
  }


  #branding1{
margin: 20px;
    /* text */
    text-decoration: none;
    color: #0824e0;
  font-family: Helvetica;
  font-size: x-large;
  word-spacing: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  align-items: left;
  }

  #about1{
    width: 100%;
    height: 70vh;
    /* background-image: url(../pattern3.png); */
    background-size: cover;
    image-rendering: auto;
    background-color: #e6c6c2;
        /* text */
        text-decoration: none;
        color: #0824e0;
      font-family: Helvetica;
      font-size: x-large;
      word-spacing: 2px;
      font-weight: 600;
      letter-spacing: 1px;
      display: flex;

      }


.paragraphText{
  float: left;
  font-family: Helvetica;
  font-size: 19px;
  font-weight: bold;
  color: #fefefa;
  margin-left: 20px;
  margin-right: 200px;
  margin-top: 75px;
  vertical-align: baseline;
  letter-spacing: 5;
  line-height: 250%;


}

#aboutPageImage{
  padding-top: 50px;
  float: right;
}

#aboutTextColour{
  padding-top: 20px;
  color: #0824e0;
}