*{
    padding: 0%;
    margin: 0%;
}

header {
    background-color: #e2bbc2;
    padding: 20px;
    position: relative;

}

body {
    background-color: #e2bbc2;
  }

  ul {
    list-style-type: none;
    float: right;
    margin: 0;
  padding: 0;
  width: 100px;
  background-color: #f1f1f1;
  }

  li a {
    display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  }

  li a:hover {
    background-color: #555;
    color: white;
  }

  nav{
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    background-color: aqua;
  
  }

  .contentsection{
    width: 100%;
    height: 50vh;
  }

  #section1{
    background-color: azure;
  }

  #section2{
    background-color: blueviolet;
  }