*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

@font-face {
  font-family: 'MainFont';
  src: url(../hong_kong_hustle/hongkonghustle.ttf);
  font-style: normal;
  font-weight: normal;
}


/* link styling */

a:link {
  text-decoration: none;
}

a:visited{
  color: #0824e0;
  text-decoration: none;
}

a:hover{
  color: #d0db97;
  text-decoration: none;
}

a:active{
  color: #e6c6c2;
  text-decoration: underline;
}

/* logo at top of page */
header{
  padding: 20px;
  background-color:#e6c6c2 ;
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  grid-template-areas: "left right";
  width: 100%;
}

.logo {
  overflow: hidden;
  background-color: #e6c6c2;
  
  
}

.burgerIconContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.burgerIcon{
  color: #0824e0;
  border: none;
  background-color: transparent;
  font-size: 55px;
  padding-right: 30px;
  display: block;
  grid-area: right;
}

.burgerIcon:hover{
  cursor: pointer;
  font-size: 60px;
}

/* homepage body */
body {
    background-color: #e6c6c2;
  }

  ul {
    list-style-type: none;
    float: right;
    margin: 0;
  padding: 0;
  width: 100px;
  }

/* styling of nav bar section */
  nav{
    position: absolute;
    top: 0;
    right: 0;
    width: 47%;
    height: 90vh;
    display: block;
    margin-top: 10px;
    padding: 40px;
    background: #fefefa;
  /* transitions */

  /* border */
  border: solid #0824e0 2px;
  border-right: none;
  }

  .navPageTitles{
    text-decoration: none;;
    font-family: 'MainFont';
    font-size: 23px;
    word-spacing: 5px;
    font-weight: 600;
    letter-spacing: 3px;
    align-items: left;
  }

  .closeButton{
    color: #0824e0;
    font-size: 30px;
  }

  .closeButton:hover{
    cursor: pointer;
  }
  
  .mainnav-closed{
    display: none;
  }
  /* nav bar 'branding' dropdown */

  /* overall style of dropdown page*/
  .dropdown{
    margin-top: 70px;
    padding: 0px;
    font-family: Helvetica;
    font-size: small;
    font-weight: lighter;
    /* background-color: #d0db97;
    border: solid #0824e0 0.5px; */

  }

  .navBarTitle{
    font-family: 'mainFont';
    color: #0824e0;
    padding-bottom: 10px;
    font-size: 25px;
    letter-spacing: 1px;
  }

  .navBarTitle:active{
    text-decoration: underline;
  }

  /* each horizontal feature of image and text */
  .previews{
    font-size: small;
    font-weight: normal;
    display: flex;
    margin-bottom: 25px;
    padding-right: 35px;
    
  }
 /* each image in dropdown */
  .previewimage{
    border: #0824e0 solid;
    background-color: #e6c6c2;
    border-width: 1px;
    opacity: 0.8;
    height: 150px;
    width: 150px;

  }

  /* all text featured on right hand side of a preview */
  .previewtextright{
    margin-left: 55px;
    margin-right: 0px;
    padding-top: 30px;
    word-spacing: normal;
    text-align: left;
    font-weight: bold;
    color: #e6c6c2;
  }

  /* all text featured on left hand side of a preview */
  .previewtextleft{
    margin-left: 0px;
    margin-right: 55px;
    padding-top: 30px;
    word-spacing: normal;
    text-align: left;
    font-weight: bold;
    color: #e6c6c2;
  }

  /* view all button at top of dropdown menu */
  #viewall{
    display: inline-flex;
    margin-top: 40px;
    font-family: 'mainFont';
    font-size: large;
    color: #e6c6c2;
    word-spacing: normal;
    float: right;

  }


  .contentsection{
    width: 100%;
  }

  /* landing page section */
  #homeSection1{
    background-color: #e6c6c2;
    height: 80vh;
  }

  /* bottom section of homepage */
  #homeSection2{
    background-image: url(../assets/myBrand/pattern3.png);
    background-size: contain;
    image-rendering: auto;
    background-color: #fefefa;
    background-repeat: repeat;
    width: 100%;
    height: 85vh;
    display: block;
    grid-row: 3;
    padding: 0%;
  }

  /* Images of how to fold a paper airplane on homepage */
  #foldingImage{
    float: left;
    padding-left: 5%;
    padding-top: 60px;
    padding-bottom: 100px;
    width: 10px;
  }

  /* Text that introduces me on homepage */
  #introlist{
    float: left;
    display: list-item;
  color:#0824e0;
  padding-left: 12%;
  padding-top: 60px;
  padding-bottom: 20px;
  text-decoration: none;
  font-size: x-large;
  font-family: 'Helvetica';
  font-weight: bolder;
  line-height: 490%;
  width: 90%;
  letter-spacing: 3px;
  width: 80%;
  text-align: left;
  }

  #sideTitleHome{
    float: right;
    padding-top: 120px;
    padding-right: 0px;
  }

  .pagetitle{
    align-items: flex-end;
  }
  
  #contactfooter{
    background-color: #d0db97;
    height: 40vh;
    text-align: center;
    font-size: 100px;
    font-family: 'mainFont';
    padding-top: 15vh;
    letter-spacing: 5px;
    word-spacing: 10px;
  }

  #getintouch{
    color: #dba6af;
  }

  #getintouch:hover{
    color: #0824e0;
    cursor: pointer;
  }


  #branding1{
margin: 20px;
    /* text */
    text-decoration: none;
    color: #0824e0;
  font-family: Helvetica;
  font-size: x-large;
  word-spacing: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  align-items: left;
  }

  #about1{
    width: 100%;
    height: 70vh;
    /* background-image: url(..assets/myBrand/pattern3.png); */
    background-size: cover;
    image-rendering: auto;
    background-color: #e6c6c2;
        /* text */
        text-decoration: none;
        color: #0824e0;
      font-family: Helvetica;
      font-size: x-large;
      word-spacing: 2px;
      font-weight: 600;
      letter-spacing: 1px;
      display: flex;

      }


.paragraphText{
  float: left;
  font-family: Helvetica;
  font-size: 19px;
  font-weight: bold;
  color: #fefefa;
  margin-left: 20px;
  margin-right: 200px;
  margin-top: 75px;
  vertical-align: baseline;
  letter-spacing: 5;
  line-height: 250%;


}

#aboutPageImage{
  padding-top: 50px;
  float: right;
}

#aboutTextColour{
  padding-top: 20px;
  color: #0824e0;
}

/* branding page */

.brandingBody{
  background-color: #e6c6c2;
  margin-top: 100px;
  
}

.galleryContainer{
  display: grid;
  width: 75%;
  margin-left: 20px;
  margin-bottom: 100px;
  grid-template-columns: auto auto auto;
  grid-row: 1fr 1fr 1fr;
  grid-template-areas: "left middle right"
  "left middle right"
  "left middle right";
}

.brandingPageTile{
  border: #0824e0 solid 1px;
}

/* This select the img HTML element inside the div with the class of imgContainer */
.imgContainer > img{
  max-width: 100%;
}

.imgContainer{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -25px;
  cursor: pointer;
  /* border: solid #0824e0 1px; */
}

.imgContainer :hover{
opacity: 0.6;
}

#lowerImage{
  margin-top: 50px;
  margin-bottom: -25px;
}

#galleryTopImage{
  margin-top: -25px;
}

#sideTitle{
  display: grid;
float: right;
background-color: #e6c6c2;
padding-top: 150px;
}



/* blog page */

.blogBody{
  height: 120vh;
}

.blogContainer{
    display: grid;
    width: 75%;
    margin-left: 20px;
    margin-bottom: 50px;
    grid-template-columns: auto auto auto auto;
    grid-row: 1fr 1fr;
    grid-template-areas: "left middle right"
    "left middle right"
}


.blogImg{
  display: flex;
  max-width: 100%;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 16px;
  cursor: pointer;
  }
  
  .blogImg :hover{
  opacity: 0.
}

/* websites page */

.websitesBody{
  height: 120vh;

}

.carouselContainer{
  width: 950px;
  margin: auto;
  overflow: hidden;
  position: relative;
  margin-top: 120px;
}

.websitesDescription{
  height: auto;
  display: flex;
  width: 100%;
}

.carouselSlide{
  height: 522px;
  display: flex;
  width: 100%;
}

#prevBtn{
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 35px;
  color: #0824e0;
  opacity: 0.8;
  cursor: pointer;
}
#nextBtn{
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 35px;
  color: #0824e0;
  opacity: 0.8;
  cursor: pointer;
}

#sideTitleWebsites{
  display: grid;
float: right;
background-color: #e6c6c2;
padding-top: 60px;
}

.websitesDescription{
 margin-top: 30px;
}

.Title{
  font-family: 'MainFont';
  color: #0824e0;
  font-size: 30px;
}

.paragraphStyle{
  margin-top: 10px;
  font-family: 'Helvetica';
  color: #fefefa;
  font-size: 20px;
}

/* contact page */


.contactBody{
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: 'MainFont';
    justify-content: center;
}

.formContainer{
    width: 70vw;
    height: 80vh;
    background-color: transparent;
    margin-top: 50px;
    margin-bottom: 100px;
}

#planeLogo{
  display: flex;
  width: 80%;
  justify-content: center;
}

.contactTitle{
  font-size: 50px;
    color:#0824e0;
    text-align: right;
    padding-bottom: 40px;
}

.formContainer > form{
    display: flex;
    flex-direction: column;
    height: 50vh;
    font-size: 28px;
    justify-content: space-around;
    font-family: 'Helvetica'
}

.formContainer > form > input,
.formContainer > form > textarea{
    padding: 10px;
    font-size: 18px;
    border-radius: 0px;
    border: #e6c6c2 1px solid;
    margin: 10px;
    }


.formContainer > form > input:focus,
.formContainer > form > textarea:focus{
border-color: #0824e0;
border-width: 1.5px;
}

#nameField, #emailField{
    height: 50px;
}

#messageField{
    resize: none;
    font-family: 'Helvetica';
    margin-bottom: 20px;
}

#submitButton{
    font-family: 'MainFont';
    letter-spacing: 3px;
    font-size: 25px;
    background-color: #0824e0;
    color: #d0db97;
    transition: background-color 0.2s;
}
     
#submitButton:hover{
    background-color: #d0db97;
    color: #0824e0;
}



/* footer */

footer{
  height: 100px;
  padding-top: 15px;
  background-color: #e6c6c2;
}

.socialMedia{
  font-size: 30px;
  text-align: center;
  padding: 10px;
}

.socialMedia > a{
  text-decoration: none;
  color:#fefefa;
  transition: 0.2s color;
}

.socialMedia > a:hover{
  color: #0824e0;
}

.copyrightInfo{
  text-decoration: none;
  font-family: Helvetica;
  font-size: 15px;
  color:#fefefa;
  text-align: center;
}

.footerLogo{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* project page */

.projectBody{
  height: 120vh;
}

.projectCarouselContainer{
  width: 950px;
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative ;
  margin-top: 50px;
}

.projectImageContainer{
  width: auto;
  height: 522px;
  position: absolute;
  margin-top: 50px;
}

.projectImage{
  width: 950px;
  height: 522px;
  margin: auto;
  display: flex;
  margin-top: 120px;
}

.projectDescription{
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}




